.responsive-kifu {
  background-image: url('../img/backgroud.gif');
  border: 2px ridge #000000;
  display: none;
  max-width: 600px;
  &.show {
    display: block;
  }
}

.date {
  background-color: #fff;
  box-shadow: 0 0 8px #d7af00;
  margin-left: 1%;
  margin-right: 1%;
  padding: .5rem 1rem;

  span {
    margin-right: .5rem;
  }
}

#board {
  background-image: url("../img/board.jpg");
  height: 400px;
  position:relative;
}

#bottom {
  margin-top: 12px;
  width: 600px;
  height: auto;
  max-width: 100%;
  position: relative;

  .move-arrow {
    background: #ffffff;
    box-shadow: 0 0 8px #d7af00;
    margin: 0 1%;
    text-align: center;

    span { margin: 0 4px; }
  }

  textarea#comment{
    border: 0;
    box-shadow: 0 0 8px #d7af00;
    height: 85px;
    margin: 0 1%;
    margin-bottom: 2%;
	  overflow-y: scroll;
	  width: 98%;
  }
}

#p1type {
  position: absolute; left:80%; top:55%;
}

#p1name {
  position: absolute; left:80%; top:60%;font-size:13px;
}

#p1title {
  position: absolute; left:80.5%; top:60%;
}

#p1title2 {
  position: absolute; left:80.5%; top:65%;
}

#p2type {
  position: absolute; left:15px; top:30%;
}

#p2name {
  position: absolute; left:12px; top:35%;font-size:13px;
}

#p2title {
  position: absolute; left:15px; top:139px;
}

#p2title2 {
  position: absolute; left:15px; top:166px;
}
